<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="./"
      routerLinkActive="active"
      (click)="home()"
      [routerLinkActiveOptions]="{exact: true}">
      Home</a>

    <a
      class="nav-item nav-link"
      routerLink="./admin"
      routerLinkActive="active"
      *ngIf="user.role == 'root'"
      [routerLinkActiveOptions]="{exact: true}">
      Admin</a>

    <a
      class="nav-item nav-link"
      routerLink="./orders"
      routerLinkActive="active"
      *ngIf="user.role == 'user'"
      (click)="orders()"
      [routerLinkActiveOptions]="{exact: true}">
      Orders</a>

    <a
      class="nav-item nav-link"
      routerLink="./manager"
      routerLinkActive="active"
      *ngIf="user.role == 'manager' || user.role=='root'"
      [routerLinkActiveOptions]="{exact: true}">
      Manager</a>

    <a
      class="nav-item nav-link"
      routerLink="./login"
      routerLinkActive="active"
      *ngIf="!user.id">
      Login </a>

  </div>
  <div class="ml-auto">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLink="./about"
        routerLinkActive="active">
        Logged in as: {{user.username}} </a>
      <a
        class="nav-item nav-link"
        *ngIf="user.id"
        routerLink="./"
        (click)="logout()">
        Logout</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
